.content{
    display: none;
}

button{
    margin-top: 10px; padding: 10px; font-size: 16px; border-radius: 5px; cursor: pointer; background-color: #af814c; color: white; border: none;
}

h1{
    text-align: center; margin-bottom: 20px; color: #8d8378; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    background-color: #f0e6d2; font-family: Arial, sans-serif; padding: 20px; 
}

footer {
       text-align: center; margin-top: 20px; color: #555; 
}